[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/CharmedBaryon/CommonLibSSE-NG
[submodule "extern/Streamline-DX12"]
	path = extern/Streamline-DX12
	url = https://github.com/NVIDIA-RTX/Streamline.git
[submodule "extern/FidelityFX-SDK"]
	path = extern/FidelityFX-SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK
	branch = optiscaler-build
